body{
    background-color: #fff;

    @include mq('tablet'){
        background-color: #F2F2F2;
    }

    @include mq('tablet-large') {
    }

    *:focus {
        outline: none;
    }

    .no-pointer{
        pointer-events: none;
    }

    .form-control{

        border: 0;
        border-style: none;
        outline: none;
        &:focus{
            box-shadow: none;
        }

    }

    select{
        &:focus{
            outline: none;
        }
    }

    .section-home {
        color: #ffffff;
        background-image: url('/images/church-2.jpg');
        height: 500px;
        background-repeat: no-repeat;
        background-size: cover;

        .background {
            background: rgba(0, 0, 0, 0.6);
            width: 100%;
            height: 500px;
            position: absolute;

            span {
                display: block;
                width: 60px;
                background-color: #ffffff;
                height: 5px;
                text-align: center;
                margin: 0 45%;
            }
        }

    }


}

@include mq('desktop-small') {

}

@include mq('tablet') {

}

@include mq('desktop') {

}
