body{
    background-color: #fff;
    font-family: "Georgia", "Book Antiqua", Palatino, serif;

    @include mq('tablet'){
        background-color: #F2F2F2;
    }

    @include mq('tablet-large') {
    }

    *:focus {
        outline: none;
    }

    .no-pointer{
        pointer-events: none;
    }

    .form-control{

        border: 0;
        border-style: none;
        outline: none;
        &:focus{
            box-shadow: none;
        }

    }

    select{
        &:focus{
            outline: none;
        }
    }


}

#header {
    .logo {
        width: 35px;
        height: 35px;
    }
    .navbar-light {
        background-color: $black;
        .navbar-brand {
            color: $white;
        }
    }
    .nav-link {
        color: $white;
    }
    .nav-link.active {
        color: $orange;
    }
}

#footer {
    background-color: $black;
    color: $white;

    .circle-icons {
        padding: 10px;
        font-size: 18px;
        width: 25%;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
        border-radius: 5px;
        background: #f0e9e9;
        color: #fff;
    }

    .circle-icons:hover {
        background: #ccc;
        color: #fff;
        opacity: 0.7;

    }
    .circle-icons:before {
        margin-right: 10px;
    }

}

.section-home {
    color: #ffffff;
    background-image: url('/images/church-2.jpg');
    min-height: 88vh;
    background-repeat: no-repeat;
    background-size: cover;

    .background {
        background: rgba(0, 0, 0, 0.6);
        width: 100%;
        height: 88vh;
        position: absolute;

        span {
            display: block;
            width: 60px;
            background-color: #ffffff;
            height: 5px;
            text-align: center;
            margin: 0 45%;
        }
    }

}

.section-symbols {
    .symbols {
        padding: 5px;
        width: 220px;
        margin: 10px;
        max-width: 40%;
    }
    .img-symbols {
        margin: 15px auto;
        width: 120px;
        display: flex;
    }
    .red {
        border: 3px solid #e32414;
    }
    .yellow {
        border: 3px solid #fec448;
    }
    .blue {
        border: 3px solid #005a8c;
    }
    .purple {
        border: 3px solid #9d3f76;
    }

}

@include mq('desktop-small') {

}

@include mq('tablet') {

    .section-symbols .img-symbols {
        width: 200px;
    }

    .section-home {
        min-height: 75vh;
        .background {
            height: 75vh;
        }

    }

}

@include mq('desktop') {
    .section-symbols {
        .symbols {
            max-width: 20%;
        }
    }
}
