#header {
    .logo {
        width: 35px;
        height: 35px;
    }
    .navbar-light {
        background-color: $black;
        .navbar-brand {
            color: $white;
        }
    }
    .nav-link {
        color: $white;
    }
    .nav-link.active {
        color: $orange;
    }
}
