.btn-orange {
  background-color: #FF8700;
  border-radius: 10px;
  color: #ffffff;
  border: none;
  cursor: pointer;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  width: 80px;
  transition: 0.5s;
}

.btn-orange:hover {
  border: 2px solid #FF8700;
  background: none;
  color: #ffffff;
}

.form-register .btn-orange {
  height: 50px;
  width: 100px;
}

.form-register {
  max-width: 700px;
  margin: 0 auto;
  padding: 30px;
}

.form-register .error {
  color: red;
}

body {
  background-color: #fff;
  font-family: "Georgia", "Book Antiqua", Palatino, serif;
}

@media only screen and (min-width: 768px) {
  body {
    background-color: #F2F2F2;
  }
}

body *:focus {
  outline: none;
}

body .no-pointer {
  pointer-events: none;
}

body .form-control {
  border: 0;
  border-style: none;
  outline: none;
}

body .form-control:focus {
  box-shadow: none;
}

body select:focus {
  outline: none;
}

#header .logo {
  width: 35px;
  height: 35px;
}

#header .navbar-light {
  background-color: #101010;
}

#header .navbar-light .navbar-brand {
  color: #ffffff;
}

#header .nav-link {
  color: #ffffff;
}

#header .nav-link.active {
  color: #FF8700;
}

#footer {
  background-color: #101010;
  color: #ffffff;
}

#footer .circle-icons {
  padding: 10px;
  font-size: 18px;
  width: 25%;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 5px;
  background: #f0e9e9;
  color: #fff;
}

#footer .circle-icons:hover {
  background: #ccc;
  color: #fff;
  opacity: 0.7;
}

#footer .circle-icons:before {
  margin-right: 10px;
}

.section-home {
  color: #ffffff;
  background-image: url("/images/church-2.jpg");
  min-height: 88vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-home .background {
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 88vh;
  position: absolute;
}

.section-home .background span {
  display: block;
  width: 60px;
  background-color: #ffffff;
  height: 5px;
  text-align: center;
  margin: 0 45%;
}

.section-register {
  background-image: linear-gradient(4deg, #d4d1cf, transparent);
  min-height: 90%;
}

.section-symbols .symbols {
  padding: 5px;
  width: 220px;
  margin: 10px;
  max-width: 40%;
}

.section-symbols .img-symbols {
  margin: 15px auto;
  width: 120px;
  display: flex;
}

.section-symbols .red {
  border: 3px solid #e32414;
}

.section-symbols .yellow {
  border: 3px solid #fec448;
}

.section-symbols .blue {
  border: 3px solid #005a8c;
}

.section-symbols .purple {
  border: 3px solid #9d3f76;
}

.section-gallery .container {
  width: 60%;
  height: 100%;
  margin: 20px auto;
}

.section-gallery img {
  border: none;
  max-width: 100%;
}

.section-gallery ul {
  list-style: none;
  margin-top: 5%;
  padding: 0;
}

.section-gallery li {
  float: left;
  position: relative;
  padding: 10px 10px 25px 10px;
  background: #eee;
  border: 1px solid #fff;
  box-shadow: 1px 2px 10px #333;
  margin-left: 2%;
  max-width: 28%;
  min-width: 180px;
}

.section-gallery span {
  padding-top: 2%;
  padding-left: 45%;
  font-family: 'Century Gothic';
  font-size: 0.8em;
  max-width: 28%;
  min-width: 180px;
}

.section-gallery li:nth-child(even) {
  z-index: 0;
  transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
}

.section-gallery li:nth-child(odd) {
  z-index: 1;
  transform: rotate(10deg);
  -webkit-transform: rotate(10deg);
}

.section-gallery li:hover {
  z-index: 10;
  transform: scale(1.3);
  -webkit-transform: scale(1.3);
}

@media only screen and (min-width: 768px) {
  .section-symbols .img-symbols {
    width: 200px;
  }

  .section-home {
    min-height: 75vh;
  }

  .section-home .background {
    height: 75vh;
  }
}

@media only screen and (min-width: 1280px) {
  .section-symbols .symbols {
    max-width: 20%;
  }
}

